body {
  background-color: #332c2c;
}

.container {
  height: 30vh;
  display: flex;
  margin-bottom: 30px;
  padding-top: 10px;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-right: 30px;
  color: coral;

  font-size: 30px;
  text-decoration: none;
  outline: none;
}

.link.active {
  background-color: #ad6648;
  color: #332c2c;
}

.link:hover {
  outline: 1px solid coral;
}
